fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pydantic
pydantic-settings
celery
redis
python-multipart
clickhouse-driver
python-dotenv
alembic
psycopg2-binary
pandas
openpyxl
python-jose[cryptography]
passlib[bcrypt]
aiosmtplib
bcrypt==4.0.1
